#app_grid {
    layout: grid;
    grid-size: 1 2;
    row-span: 2;
    grid-rows: 15% 85%;
  }
  

  $primary: teal;
  /* $surface: #808080; */
  $primary-lighten-1: #198c8f;
  
  
  .footer--description {
    background: teal;
  }
  
  .footer--key {
    background: teal;
  }
 
  
  /* Inputs  //////////////////////////////////////////////////////////////////////////////////////////////////*/

    
  .inputs {
    width: 2fr;
  }


  #fname {
    width: 1fr;
  }
  #lname {
    width: 1fr;
  }
  #phone {
    width: 1fr;
  }
  #dob {
    width: 1fr;
  }
  #addpatient {
    width: 1fr;
  }
  #updatepatient {
    width: 1fr;
  }
  /* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */
  
  
  #cal_table {
    width: 7fr;
    /* border: solid rgb(5, 189, 221); */
  }
  
  #tables {
    width: 3fr;
    /* border: solid rgb(5, 189, 221); */
  }
  
  #pt_table {
    height: 3fr;
    /* border: solid rgb(221, 196, 5); */
  }
  
  #enc_table {
    height: 3fr;
    /* border: solid rgb(221, 196, 5); */
  }
  
  #notes {
    height: 1fr;
    /* border: solid rgb(221, 196, 5); */
  }
  
  #feedback {
    height: 1fr;
    /* border: solid rgb(221, 196, 5); */
  }
  
  /* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */

  PrintExportScreen {
    align: center middle;
}

#dialog{

layout: grid;
grid-size: 1 4;
row-span: 4;
grid-rows: 4fr 1fr 1fr 1fr;
width: 80;
height: 30;
padding: 0 1;
border: thick $background 80%;
background: $surface;
}

#selection {

}

#progress-pane {
align: center middle;
}

#printjobs {
  width: 6fr;
}

/* #exports {
  height: 2fr;
} */

#right_cnt {
  width: 3fr;
}


#feedback_popup {
  height: 1fr
}

#buttons {
  /* column-span: 2;  */
  /* height: 1; 
  width: 1fr;  */
  /* border: solid rgb(221, 196, 5); */
  /* content-align: center middle; */
}

#export {
  width: 1fr;
}

#print {
  width: 1fr;
}

#quit {
  width: 1fr;
}



 /* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */

 /* ExportScreen {
  align: center middle;
} */

/* #dialog{

layout: grid;
grid-size: 1 2;
row-span: 2;
grid-rows: 7fr 1fr;
width: 70;
height: 20;
padding: 0 1;
border: thick $background 80%;
background: $surface;
} */

/* #selection {

} */

/* #medicament {
width: 7fr;
} */

/* #exports {
height: 2fr;
} */

/* #right_cnt {
width: 3fr;
} */


/* #feedback_popup {
height: 1fr
} */

/* #buttons {

} */

/* #export {
width: 1fr;
} */

/* #print {
width: 1fr;
} */

/* #quit {
width: 1fr;
} */